body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}

.disply{
    display: flex;
  
}
.top-bennar{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;

}
.half-site{
    width: 45%;
    padding-left: 100px;
    
}
img{
    width: 90%;
}
.half-site h1 span{
    color: #ffa522;
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    color: #ffffff;
    border-radius: 5px;
    background-image:linear-gradient(orange, tomato);

}
.top-bannar2{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;

}
.half-site1{
    width: 45%;
    margin-left: 5%;
    padding-left: 50px;
    box-shadow: 5px 7px 40px gray;
    
}
.exp-size{
    font-size: 40px;
}
.exp-color{
    border-left: 10px solid;
    border-image: linear-gradient( lightsalmon, tomato);
    border-image-slice: 1;
}
.exp-color1{
    border-left: 10px solid;
    border-image: linear-gradient( blue, cyan);
    border-image-slice: 1;
}
.footer{
    text-align: center;
    margin-top: 100px;
}
