body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}

.disply{
    display: flex;
  
}
.top-bennar{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;

}
.half-site{
    width: 45%;
    padding-left: 100px;
    
}
img{
    width: 90%;
}
.half-site h1 span{
    color: #ffa522;
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    color: #ffffff;
    border-radius: 5px;
    background-image:linear-gradient(orange, tomato);

}
.top-bannar2{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}